body{
    background-color:lightsalmon ;
}
hr{ width:50%; color:black;
}
    img{ width: 15%;height:15%;
    }

    hr{ width:50%;
        color:black;
    }
    hr {width:50%
        color=black}

p {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p{Font-style:oblique 40deg;
}
p{Font-weight: lighter;
}