body{
    background-color:lightskyblue ;
}
hr{ width:50%; color:black;
}
    img{ width: 20%;height:20%;
    }

    hr{ width:50%;
        color:black;
    }
    hr {width:50%
        color=black}

p {font-family: Georgia, 'Times New Roman', Times, serif;
}
p{Font-style:bold;
}
p{Font-weight: bold;
}