body{
	
	background-color: lightgrey;
}
h1{
	font-size:1.1em;
			font-family:Verdana;
			color:white;
			
			background-color:blue;
			padding:8px 6px 8px 6px;
			border-radius:5px;
			font-family:"Verdana";
			font-weight:bold;
			box-shadow: 6px 6px 4px black;
			text-align:center;
}
img{
	
	